{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center" style="background-color:rgb(220, 250, 255)">
    <h1><b>Aqua Run Mineral Water Company</b></h1>
    <p>Save water!</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Contact Us</h3>
        <p>phone:    <br></p>
        <p>email:    <br></p>
        <p>address:    <br></p>
      </div>
      <div class="col-sm-4">
        <h3>Our features </h3>
        <p>> providing purified mineral water <br></p>
        <p>> fastest delivery system <br></p>
        <p>> door step delivery every day  <br></p>
      </div>
      <div class="col-sm-4">
        <h3>Mision And Vision</h3>
        <p></p>
      </div>
    </div>
  </div>




{% endblock %}